$font-family_1: 'Cinzel', serif;
$font-family_2: 'Courgette', cursive;
$font-family_3: 'Dancing Script', cursive;
$font-family_4: 'Oswald', sans-serif;


h1 {
	color: map-get($paleta, letras);
	font-size: 3rem;
	text-align: center;
	background-color: map-get($paleta, fondos);
	font-family: $font-family_1;
	font-family: $font-family_2;
	font-family: $font-family_3;
	font-family: $font-family_4;
	text-decoration: underline;
}
